<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management Dashboard</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#newmembers">Enroll</a></li>
          <li><a href="#checkin">Checkin Members</a></li>
          <li><a href="#checkout">Checkout Members</a></li>
          <li><a href="#freetrials">Free Trials</a></li>
          <li style="float:right">
            <select id="locationDropdown">
              <option value="">Select location</option>
              <option value="San Jose" selected>San Jose</option>
            <option value="Sunnyvale">Sunnyvale</option>
            <option value="Milpitas">Milpitas</option>
            </select>
          </li>
        </ul>
      </nav>
    </header>
    <main>
        <h1>Gym Management Dashboard</h1>
        <section class="newmembers" id="newmembers" style="text-align: center;">
        
        <h2>Enroll New Members</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email"><br><br>
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone"><br><br>
          <input type="submit" value="Enroll">
        </form>
     </section>
      
      <section class="checkin" id="checkin" style="text-align: center;">
        <h2>Checkin Members</h2>

        <form id="checkInForm">
          <label for="member_id">Member ID:</label>
          <input type="text" id="member_id" name="member_id"><br><br>
          <!-- <label for="activity">Activity:</label> -->
          <!-- <select id="activity">
            <option value="2">Swim</option>
            <option value="3">Gym</option>
            <option value="4">Dance</option>
            <option value="8">Cycle</option>
          </select> -->
          <input type="submit" value="Checkin">
        </form>

      </section>
      <section class="checkout" id="checkout">
        <h2>Checkout Members</h2>
        <form>
          <label for="member_id">Member ID:</label>
          <input type="text" id="member_id" name="member_id"><br><br>
          <input type="submit" value="Checkout">
        </form>
      </section>
      <section class="freetrials" id = "freetrials">
        <h2>Free Trials Signup</h2>
        <form id="freeTrails">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name"><br><br>
          <label for="userName">User Name:</label>
          <input type="text" id="userName" name="userName"><br><br>
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone"><br><br>
          <input type="submit" value="Signup">
        </form>
      </section>
      <section class="analytics" >
        <h2>Analytics Dashboard</h2>
        <a href="/analytics" class="btn">View Analytics Dashboard</a>
      </section>
    </main>
    <footer style="text-align: center;" id="contactUs">
        <div class="contact-info">
          <h3>Contact Us</h3>
          <p>Email: info@example.com</p>
          <p>Phone: (123) 456-7890</p>
          <p>Address: 1 Washington Sq, San Jose, CA 95192
          </p>
        </div>
        
      </footer>
    </main>
    <script src="js/script_employees.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>

