<!DOCTYPE html>
<html lang="en">
  <head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthClub Membership Management System</title>
    <!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
    <link type='text/css' rel="stylesheet" href="css/styles.css">
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#classes">Classes</a></li>
        <li><a href="#services">Membership</a></li>
        <li><a href="#contactUs">Contact Us</a></li>
        <li style="float:right"><a href="employeeLogin" id="loginBtn" class="btn" >Employee Log In</a></li>
        <li style="float:right"><a href="login" id="loginBtn" class="btn" >Member Log in</a></li>
        <li style="float:right">
          <select id="locationDropdown">
            <option value="">Select location</option>
            <option value="San Jose" selected>San Jose</option>
            <option value="Sunnyvale">Sunnyvale</option>
            <option value="Milpitas">Milpitas</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>
  <main>

    <!-- Hero section -->
    <section class="hero";>
      <h1>Welcome to HealthClub Membership Management System</h1>
      <p>Join today and start your fitness journey</p>
      <a href="login" class="btn">Sign up</a>
    </section>


    <!-- Services section -->
    <section class="services" id="services">
      <h2>Our Services</h2>
      <ul id="servicesUl">
       
      </ul>
    </section>

    <!-- Classes section -->
    <section class="classes" id="classes">
      <h2>Classes Schedule</h2>
      <ul id="classesUl">
        
      </ul>
    </section>

    <!-- Contact Us section -->
    <footer style="text-align: center;" id="contactUs">
      <div class="contact-info">
        <h3>Contact Us</h3>
        <p>Email: info@example.com</p>
        <p>Phone: (123) 456-7890</p>
        <p>Address: 1 Washington Sq, San Jose, CA 95192
        </p>
      </div>
      
    </footer>
  </main>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
  </body>
</html>

